.header__private .header__menu {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding-top: 25px;
  z-index: 10;
  background: white;
  position: relative; }

.header__private .header__menu-overflow,
.footer_private .header__menu-overflow {
  overflow: hidden; }

.header__private .header__menu-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -5px;
  margin-left: -5px;
  padding-bottom: 0; }
  .header__private .header__menu-big a {
    font-size: 1.2rem;
    font-family: "HSE Sans";
    color: #17181a;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    padding-left: 5px;
    padding-right: 5px; }
    .header__private .header__menu-big a:hover {
      color: grey; }
    .header__private .header__menu-big a:last-child {
      margin-right: 0; }
  .header__private .header__menu-big a.active {
    border-bottom: 3px solid black;
    padding-left: 5px;
    padding-right: 5px; }

.header__private .header__menu-big,
.header__private .header__menu-small {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }

.header__private .header__menu-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .header__private .header__menu-small a {
    font-family: 'HSESansRegular';
    margin-right: 1.4rem;
    color: #17181a;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: normal; }
    .header__private .header__menu-small a:hover {
      color: grey; }

.header__private .header__menu-small-item-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .header__private .header__menu-small-item-right a {
    margin-right: 0; }

.header__private .is__hidden .header__menu-big {
  -webkit-animation-name: header__menu-upper;
          animation-name: header__menu-upper;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

.header__private .header__menu-small::-webkit-scrollbar,
.header__private .header__menu-big::-webkit-scrollbar {
  width: 0; }

.m__short {
  display: none; }

@media (min-width: 900px) and (max-width: 989px) {
  .header__private .header__menu-big {
    padding-bottom: 10px; }
  .header__private .header__menu-big a {
    margin-bottom: 15px; } }

@media (max-width: 990px) {
  .header__private .header__menu-small {
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 3px; }
  .header__private .header__menu-big-item {
    margin-bottom: 15px; }
  .header__private .header__menu {
    padding-top: 5px; }
  .header__private .header__menu-big {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    overflow: auto;
    margin-right: 0; }
  .header__private .header__menu-big a {
    white-space: nowrap;
    padding-top: 20px;
    margin-bottom: 5px; }
  .header__private .header__menu-small a {
    white-space: nowrap; }
  .header__private .header__menu-small a:last-child {
    padding-right: 15px; }
  .header__private .header__menu-big a:last-child {
    padding-right: calc( 6vw); }
  .header__menu-small a {
    white-space: nowrap; }
  .header__menu-small a:last-child {
    padding-right: 15px; } }

@media (max-width: 1200px) {
  .header__private .header__menu-overflow,
  .footer_private .header__menu-overflow {
    overflow: hidden; }
  .header__private .header__menu-small {
    overflow-x: scroll;
    white-space: nowrap; }
  .header__private .header__menu-overflow,
  .footer_private .header__menu-overflow {
    overflow: hidden; } }

@media (min-width: 1200px) {
  .header__private .header__menu-small {
    margin-bottom: 10px; } }

@media (max-width: 1440px) {
  .header__private .header__menu-big {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__private .header__menu-small-item-right {
    text-align: left; }
  .header__private .m__long {
    display: none; }
  .header__private .m__short {
    display: inline-block; } }

@media (max-width: 1600px) {
  .header__menu-big a {
    margin-bottom: 10px;
    margin-right: 15px; } }
